.favorite-row {
  display: flex;
  gap: 1.8rem;
  padding: 2rem;
}

.favorites {
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  font-size: 0.8rem;
  text-align: center;

}