body {
  margin: 0;
  background-color: rgba(0,0,0,0.15);
  font-family: 'Lato', sans-serif;
}

.margin-bottom-5rem {
  margin-bottom: 5rem;
}

.padding-5rem {
  padding: 5rem; 
}


.standard-card {
  background-color: white;
  width: 25vw;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}